{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Done{% endblock title %}

{% block content %}
<section class=" bg-gradient-blue " id="home">
    <div class="container pt-5">
        <div class="row min-h-100">
            <div class=" pt-5 col-lg-12">
                <div class="container  my-5">

                </div>
            </div>
        </div>
    </div>
</section>
<div class="container my-5">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="col-md-6 shadow p-5">

            <h1>Password Change Done</h1>
            <p>Your password has been changed.</p>
        </div>
    </div>
</div>

{% endblock content %}